@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.clase-link {
    font-size: 16px;
}
.active {
    color: rgb(251, 193, 21)
}
.icono-carrito {
   font-size: 25px;
}
.custom-grid {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    align-items: center;
    justify-content: space-between;
    row-gap: 5px;
}
.custom-container {
    width: 90%;
    margin: auto;
}
a {
    text-decoration: none;
    text-transform: none;
}

@media (max-width:1035px) {
    .custom-grid {
        display: grid;
        grid-template-columns: 32.5% 32.5% 32.5%;
        align-items: center;
        justify-content: space-between;
        row-gap: 10px;
    }
}
@media (max-width: 880px) {
    .custom-grid {
        display: grid;
        grid-template-columns: 49% 49%;
        align-items: center;
        justify-content: space-between;
        row-gap: 10px;
    }
}
@media (max-width: 768px) {
    .clase-link {
        font-size: 22px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
@media (max-width: 568px) {
    .custom-grid {
        display: grid;
        grid-template-columns: 100%;
        align-items: center;
        justify-content: space-between;
        /* row-gap: 5px; */
    }
}
